$primary: #369fff;
$black: #181a1b;
$placeholder: #9ea3a9;
$disable: #b9bdc1;
$sub-black: #697077;
$background-2: #f7f7f8;
$white: #fff;
$background-1: #eff0f1;
$sub-black-2: #838a91;
$stroke: #e9ebec;